player/src/main/resources/maps/map.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="map">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="point"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="point">
        <xs:complexType>
            <xs:attribute name="latitude" use="required" type="xs:decimal"/>
            <xs:attribute name="longitude" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
